---
- name: Deploy Grafana on Monitoring Server
  hosts: monitoring
  become: yes
  tasks:
    - name: Create Grafana directories
      file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      loop:
        - /opt/grafana
        - /opt/grafana/provisioning
        - /opt/grafana/provisioning/datasources

    - name: Create Grafana datasource configuration
      copy:
        dest: /opt/grafana/provisioning/datasources/prometheus.yml
        content: |
          apiVersion: 1
          datasources:
            - name: Prometheus
              type: prometheus
              access: proxy
              url: http://prometheus:9090
              isDefault: true
              editable: false

    - name: Deploy Grafana container
      docker_container:
        name: grafana
        image: grafana/grafana:latest
        state: started
        restart_policy: always
        ports:
          - "3000:3000"
        volumes:
          - grafana_data:/var/lib/grafana
          - /opt/grafana/provisioning:/etc/grafana/provisioning
        env:
          GF_SECURITY_ADMIN_USER: admin
          GF_SECURITY_ADMIN_PASSWORD: devops2025
          GF_USERS_ALLOW_SIGN_UP: "false"
        links:
          - prometheus:prometheus
